.navbar-fixed-left {
  width: 140px;
  padding-top: 16%;
  position: fixed;
  border-radius: 0;
  height: 100%;
  float: left;
}

.navbar-fixed-left li {
  margin-top: 0;
  width: 139px;
  font-size: 17px;
}

.logo-font {
  font-size: 60px;
  margin-bottom: 15px;
}

.container-fluid {
margin-left: 140px;
height: 100%;
padding: 0px;
}

.bg-animation {
  width: 100%;
}

.content {
  margin: 50px;
}

.page-header {
  margin-bottom: 0px;
}
