html, body {
  height: 100%

}

body {
  perspective: 600px;
  background-color: #FFF9C7;

}

#scape {
  transform: rotateX(60deg);

}


.object {
  left: 50%;
  top: 50%;
  position: absolute;
  transform-style: preserve-3d;
}

.base .light {
  background: #7F7F7F;
}
.base .medium {
  background: #606060;
}
.base .dark {
  background: #424242;
}.light {
  background: #CFFD78;
}
.medium {
  background: #9BBC5B;
}
.dark {
  background: #687E3E;
}

.navbar-fixed-left {
  width: 140px;
  padding-top: 16%;
  position: fixed;
  border-radius: 0;
  height: 100%;
  float: left;
}

.navbar-fixed-left li {
  margin-top: 0;
  width: 139px;
  font-size: 17px;
}

.logo-font {
  font-size: 60px;
  margin-bottom: 15px;
}

/*
#cell1 {
  transform: translate3d(0px, 0px, 0px)
}
#top1 {
  background: darkred;
  width: 100px;
  height: 100px;
  margin-left: -50px;
  margin-top: -50px;
  transform: translate3d(0px, 0px, 150px)
    rotateX(0deg)
    rotateY(0deg)
    rotateZ(0deg);
}
#right1 {
  background: darkblue;
  width: 300px;
  height: 100px;
  margin-left: -150px;
  margin-top: -50px;
  transform: translate3d(50px, 0px, 0px)
    rotateX(0deg)
    rotateY(90deg)
    rotateZ(0deg);
}
#left1 {
  background: darkgreen;
  width: 100px;
  height: 300px;
  margin-left: -50px;
  margin-top: -150px;
  transform: translate3d(0px, 50px, 0px)
    rotateX(-90deg)
    rotateY(0deg)
    rotateZ(0rad);
}

#cell2 {
  transform: translate3d(100px, 0px, -20px)
    rotateX(0deg)
    rotateY(0deg)
    rotateZ(0deg);
}
#top2 {
  background: darkred;
  width: 100px;
  height: 100px;
  margin-left: -50px;
  margin-top: -50px;
  transform: translate3d(0px, 0px, 150px)
    rotateX(0deg)
    rotateY(0deg)
    rotateZ(0deg);
}
#right2 {
  background: darkblue;
  width: 300px;
  height: 100px;
  margin-left: -150px;
  margin-top: -50px;
  transform: translate3d(50px, 0px, 0px)
    rotateX(0deg)
    rotateY(90deg)
    rotateZ(0deg);
}
#left2 {
  background: darkgreen;
  width: 100px;
  height: 300px;
  margin-left: -50px;
  margin-top: -150px;
  transform: translate3d(0px, 50px, 0px)
    rotateX(-90deg)
    rotateY(0deg)
    rotateZ(0rad);
}

#cell3 {
  transform: translate3d(0px, 100px, -30px)
    rotateX(0deg)
    rotateY(0deg)
    rotateZ(0deg);
}
#top3 {
  background: darkred;
  width: 100px;
  height: 100px;
  margin-left: -50px;
  margin-top: -50px;
  transform: translate3d(0px, 0px, 150px)
    rotateX(0deg)
    rotateY(0deg)
    rotateZ(0deg);
}
#right3 {
  background: darkblue;
  width: 300px;
  height: 100px;
  margin-left: -150px;
  margin-top: -50px;
  transform: translate3d(50px, 0px, 0px)
    rotateX(0deg)
    rotateY(90deg)
    rotateZ(0deg);
}
#left3 {
  background: darkgreen;
  width: 100px;
  height: 300px;
  margin-left: -50px;
  margin-top: -150px;
  transform: translate3d(0px, 50px, 0px)
    rotateX(-90deg)
    rotateY(0deg)
    rotateZ(0rad);
}
