html, body {
  height: 100%

}

body {
  perspective: 600px;
  background-color: #FFF9C7;

}

#scape {
  transform: rotateX(-30deg);

}

.object {
  left: 50%;
  top: 50%;
  position: absolute;
  transform-style: preserve-3d;
}

.base .light {
  background: #7F7F7F;
}
.base .medium {
  background: #606060;
}
.base .dark {
  background: #424242;
}.light {
  background: #CFFD78;
}
.medium {
  background: #9BBC5B;
}
.dark {
  background: #687E3E;
}

.navbar-fixed-left {
  width: 140px;
  padding-top: 16%;
  position: fixed;
  border-radius: 0;
  height: 100%;
  float: left;
}

.navbar-fixed-left li {
  margin-top: 0;
  width: 139px;
  font-size: 17px;
}

.logo-font {
  font-size: 60px;
  margin-bottom: 15px;
}
