html, body {
  height: 100%

}

body {
  perspective: 600px;
  background: #ebe9e7;
}

#scape {
  transform: rotateX(-27deg);
}

.object {
  left: 50%;
  top: 55%;
  position: absolute;
  transform-style: preserve-3d;
}

.base .light {
  background: #9e9c9c;
}
.base .medium {
  background: #807f7e;
}
.base .dark {
  background: #4f4e4e;
}

#stripe {
  position: fixed;
  height: 100%;
  width: 200px;
  margin-left: 15%;
  background: #DBD7D3;
  font-size: 25px;
  font-family: 'Macondo', cursive;
  color: white;
}

#logo {
  margin-top: 70px;
  height: 130px;
  width: 200px;;
  background: #C7C3C0;
  text-align: center;
  font-size: 100px;
}

#stripe ol {
  margin-top: 10px;
  margin-left: -5px;
}
